<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     
<!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="usersettings" type="System.Configuration.UsersettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpaProject.Properties.settings" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpaProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="UPAOborotEntities1" connectionString="metadata=res://*/DataFilesApp.Model1.csdl|res://*/DataFilesApp.Model1.ssdl|res://*/DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VGZGRKBUITEX01\SQLSERVER;initial catalog=UPAOborot;integrated security=True;MultipleActiveResultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UPAOborotEntities" connectionString="metadata=res://*/Models.DataFilesApp.Model1.csdl|res://*/Models.DataFilesApp.Model1.ssdl|res://*/Models.DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VGZGRKBUITEX01\SQLSERVER;initial catalog=UPAOborot;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UpaDBEntities" connectionString="metadata=res://*/Models.DataFilesApp.Model1.csdl|res://*/Models.DataFilesApp.Model1.ssdl|res://*/Models.DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VGZGRKBUITEX01\SQLSERVER;initial catalog=UpaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <usersettings>
    <UpaProject.Properties.settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=VGZGRKBUITEX01\SQLSERVER;Initial Catalog=UPAOborot;Integrated Security=True</value>
      </setting>
    </UpaProject.Properties.settings>
  </usersettings>
  <userSettings>
    <UpaProject.Properties.Settings>
      <setting name="CommandString" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>"Data Source=АДМИН\\SQLEXPRESS;Initial Catalog=UPAOborot;Integrated Security=True"</value>
      </setting>
      <setting name="LastLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="DeafaultChange" serializeAs="String">
        <value>1</value>
      </setting>
    </UpaProject.Properties.Settings>
  </userSettings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     --><!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468--><!-- 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="usersettings" type="System.Configuration.UsersettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpaProject.Properties.settings" type="System.Configuration.ClientsettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpaProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="UPAOborotEntities1" connectionString="metadata=res://*/DataFilesApp.Model1.csdl|res://*/DataFilesApp.Model1.ssdl|res://*/DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=АДМИН\SQLEXPRESS;initial catalog=UPAOborot;integrated security=True;MultipleActiveResultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UPAOborotEntities" connectionString="metadata=res://*/Models.DataFilesApp.Model1.csdl|res://*/Models.DataFilesApp.Model1.ssdl|res://*/Models.DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=АДМИН\SQLEXPRESS;initial catalog=UPAOborot;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UpaDBEntities" connectionString="metadata=res://*/Models.DataFilesApp.Model1.csdl|res://*/Models.DataFilesApp.Model1.ssdl|res://*/Models.DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=АДМИН\SQLEXPRESS;initial catalog=UpaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <usersettings>
    <UpaProject.Properties.settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=АДМИН\SQLEXPRESS;Initial Catalog=UPAOborot;Integrated Security=True</value>
      </setting>
    </UpaProject.Properties.settings>
  </usersettings>
  <userSettings>
    <UpaProject.Properties.Settings>
      <setting name="CommandString" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>"Data Source=АДМИН\\SQLEXPRESS;Initial Catalog=UPAOborot;Integrated Security=True"</value>
      </setting>
      <setting name="LastLogin" serializeAs="String">
        <value />
      </setting>
    </UpaProject.Properties.Settings>
  </userSettings>
</configuration>-->


<!--АДМИН\\SQLEXPRESS-->

<!--VGZGRKBUITEX01\\SQLSERVER-->


